
<h1><%= @group.name %></h1>
<p class="lead">Tafel <%= @group.table_number %><p>
<div class="col-sm-5 col-md-4">

	<% total = 0 %>
	<ul class="list-group">

		<% @products.each do |product_name, amount| %>

			<% product = Product.where(name: product_name).first %>

			<% price = Float(product.price) * Integer(amount) %>
			<% total += price %>

			<li class="list-group-item">
				<span class="label label-success"><%= amount %></span>
				<%= product_name %>
				<span class="label label-danger pull-right">€<%= price %><span>

			</li>


		<% end %>

		<li class="list-group-item active">
			Totaal: 
			<span class="label label-danger pull-right">€<%= total %></span>
		</li>
	</ul>
</div>
