<h3>Nieuwe bestelling</h3>


<%= bootstrap_form_tag url: orders_path, :method=>'post', layout: :horizontal, label_col: "col-sm-2 col-xs-8", control_col: "col-md-1 col-sm-2 col-xs-3" do |f| %>

	<%= f.number_field :table, hide_label: true, placeholder: "Tafelnummer", layout: :default, required: true, id: "number_field" %>

	<div class="list-group">

	</div>


	<%= f.text_field :groupname, hide_label: true, placeholder: "Tafelnaam", layout: :default, required: true, list: "tables", id: "name_field" %>

	<datalist id="hidden">
		<% Group.all.each do |group| %>

			<option table="<%= group.table_number %>" value="<%= group.name %>" />

		<% end %>
	</datalist>

	<div class="row">
		<% Category.all.each do |category| %>

			<div class="col-md-3">
				<h4><%= category.name %></h4><br>

				<% products = Product.where("category_id = ?", category) %>

				<% products.each do |product| %>

					<div class="form-group">

						<label class="normal-font-weight text-left col-xs-6" for= <%= product.name %>><%= product.name %></label>
						<div class="col-xs-4">

							<input value="0" min="0" class="form-control" name=<%= product.name %> id=<%= product.name %> type="number" />
						</div>
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button>
					</div>

				<% end %>
			</div>
		<% end %>
	</div>


	<%= f.submit "Plaats bestelling", class: "btn btn-primary right-bottom-float" %>

<% end %>
<br>
