<!DOCTYPE html>
<html>
	<head>
		<title>ChiroEtentje</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>


		<nav class="navbar navbar-default">
		
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle"collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to "Chiro Etentje", root_path, class: "navbar-brand" %>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><%= link_to "Tafels", groups_path %></li>
						<li><%= link_to "Bestellingen", orders_path %></li>
						<li><%= link_to "Menu", products_path %></li>
						<li><%= link_to "Categorieën", categories_path %></li>
						<li><%= link_to "Personen", users_path %></li>
					</ul>
				</div>
			</div>

		</nav>

		<div class="container">
		<%= yield %>
		</div>

	</body>
</html>
